<div class="nav-bar-header">
    <div class="nav-inner">
        <ul class="nav-list">
            <li class="nav-item">
                <span class="item">全部分类</span>
                <div class="left-menu" style="display: block">
                    {foreach $category as $item}
                        <div class="level-item">
                            <div class="first-level">
                                <dl>
                                    <dt class="title"><a href="" target="_top">{$item.name}</a></dt>
                                    {foreach $item.sub_category as $item1}
                                        <dd><a href="" target="_top" class="">{$item1.name}</a></dd>
                                    {/foreach}
                                </dl>
                            </div>
                        </div>
                    {/foreach}
                </div>
            </li>
            <li class="nav-item"><a class="item first active">首页</a></li>
            <li class="nav-item"><a class="item">团购</a></li>
            <li class="nav-item"><a class="item">商户</a></li>
        </ul>
    </div>
</div>